<form role="form" method="POST" action="/account/">
    {{ form.hidden_tag() if form.hidden_tag }}
    <fieldset>
        <div class="form-group">
            <input class="form-control" placeholder="E-mail" name="account" type="email" autofocus>
        </div>
        <div class="form-group">
            <input class="form-control" placeholder="Password" name="password" type="password" value="">
        </div>
        <div class="checkbox">
            <label>
                <input name="remember" type="checkbox" value="Remember Me">Remember Me
            </label>
        </div>
        <button type="submit" class="btn btn-lg btn-success btn-block">Login</button>
    </fieldset>
</form>
